/*ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ*/
:root {
	--color__white: #ffffff;
	--color__black: #000000;
	--color__dark: #404449;
	--color__dark_v2: #2C2A2C;
	--color__gray: #868686;
	--color__gray-light: #F7F8F9;
	--color__red: #E41E0C;
	/*--color__yellow: #ffcf00;*/
	--color__yellow: #FF8C00;
}

/*ШРИФТЫ*/
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url('assets/fonts/Roboto-Regular.woff') format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url('assets/fonts/Roboto-Medium.woff') format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url('assets/fonts/Roboto-Bold.woff') format("woff");
	font-weight: 700;
	font-style: normal;
}


/*СТИЛИ ВСЕГО ДОКУМЕНТА*/
* { /* отключаем подсветку кнопки или ссылки при тапе */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

:focus {
	outline: none !important;
}
html {
	color: var(--color__dark);
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
}

body {
	/*background: #edeef8;*/
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a, input, button {
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}

/* ОСНОВНЫЕ СТИЛИ >>>>>*/
.section {
	width: 100%;
	padding-right: 15px !important;
	padding-left: 15px !important;
	margin-right: auto;
	margin-left: auto;
}

.clb {
	clear: both;
	height: 0;
	width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.link:hover {
	opacity: .6;
	cursor: pointer;
}

.section-title {
	font-weight: 500;
	font-size: 41px;
	line-height: 51px;
}

.section-title_type_big {
	font-weight: 500;
	font-size: 70px;
	line-height: 125px;
	text-transform: uppercase;
	text-align: center;
}

.section-title_type_catalog {
	font-size: 50px;
	letter-spacing: 10px;
}

.section-sub-title {
	display: block;
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
}


.gap {
	margin-top: 88px;
}

#stick {
	z-index: 999;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	overflow: hidden
}

/* <<<<< ОСНОВНЫЕ СТИЛИ*/

/*КНОПКИ >>>>>*/
.btn {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	line-height: 1.42857143;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
.btn--cta {
	color: var(--color__dark);
	/*background-color: var(--color__yellow);*/
	background-color: #b3b3b3;
	/*border: 2px solid var(--color__yellow);*/
	border: 2px solid #b3b3b3;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.btn--cta:hover {
	background-color: transparent;
}
.btn--cta:active {
	/*background: #fab619;
	border: 2px solid #fab619;*/
	background-color: #b3b3b3;
	border: 2px solid #b3b3b3;
}

.btn--red {
	color: var(--color__white);
	background-color: var(--color__red);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.btn--red:hover {
	background-color: var(--color__yellow);
	color: var(--color__dark);
}
.btn--red:active {
	background-color: #fab619;
}

.btn--yellow {
	color: var(--color__dark);
	background-color: var(--color__yellow);
	border: 2px solid var(--color__yellow);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.btn--yellow:hover {
	background: #fcc521;
	border: 2px solid #fcc521;
}
.btn--yellow:active {
	background: #fab619;
	border: 2px solid #fab619;
}

/* <<<<< КНОПКИ*/

/*ДЛЯ СЛАЙДЕРА >>>>>*/
.button-arrow {
	height: 20px;
	width: 20px;
	font-size: 20px;
	color: #000;
	display: grid;
	align-items: center;
	justify-items: center;
	text-decoration: none;
	background-color: transparent;
}
.navigation-prev {
	right: 65px;
}
.navigation-next {
	right: 10px;
}
.navigation-prev, .navigation-next {
	line-height: 0;
	position: absolute;
	/*top: 50%;*/
	bottom: -45px;
	font-size: 10px;
	display: block;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	border: none;
	outline: none;
	z-index: 10;
}
.slick-dots li {
	margin: 0;
}
.slick-dots li.slick-active button:before {
	opacity: 1;
	color: var(--color__yellow);
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
	color: var(--color__yellow);
}
.slick-dots li button:before {
	font-size: 14px;
	opacity: 1;
	color: var(--color__dark);
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
/*<<<<< ДЛЯ СЛАЙДЕРА*/



.header {
	display: grid;
	gap: 10px;
	background: var(--color__white);
}

.header__top {
	background: var(--color__dark_v2);
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 45px;
}

.header__menu {
	list-style: none;
	display: flex;
	margin-bottom: 0;
	padding: 0;
	gap: 25px;
}

.header__menu-link {
	color: var(--color__white);
	text-decoration: none;
	font-size: 14px;
	line-height: 19px;
}
.header__menu-link:hover {
	text-decoration: underline;
}
.header__menu-link:focus {
	font-weight: 700;
}

.header__location {
	display: flex;
	align-items: center;
	gap: 3px;
}

.header__location-icon {
	width: 11px;
	height: 11px;
}

.header__location-value {
	color: var(--color__white);
	margin-bottom: 0;
	font-size: 14px;
	line-height: 17px;
}
.header__location_type_desktop {
	display: flex;
}
.header__location_type_mobile {
	display: none;
}

.header__info {
	display: flex;
	justify-content: space-between;
	min-height: 60px;
}

.header__logo {
	background: url(/images/logo.svg) no-repeat;
	background-size: cover;
	width: 255px;
	height: 39px;
}

.header__discount {
	align-self: center;
	font-weight: 700;
	color: var(--color__red);
	font-size: 21px;
}

.header__contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.phone-link {
	text-decoration: none;
	color: var(--color__red);
	font-size: 32px;
	line-height: 31px;
	font-weight: 700;
}

.callback-link {
	color: var(--color__gray);
	font-size: 12px;
	line-height: 17px;
}


.banner {
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center 68%;*/
	position: relative;
	min-height: 860px;
}
.banner--wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.banner--slide {
	background-position: center 68%;
	background-size: cover;
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center 68%;*/
	width: 100%;
	height: 860px;

}

.banner_type_small {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 65px;
	min-height: 680px;
}

.banner__title{
	font-size: 139px;
	line-height: 173px;
	font-weight: 500;
	color: var(--color__white);
	text-shadow: -0 -1px 0 #000000, 0 -1px 0 #000000, -0 1px 0 #000000, 0 1px 0 #000000, -1px -0 0 #000000, 1px -0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.banner__title_type_center {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 200px;
	text-transform: uppercase;
	font-size: 91px;
}

.banner__title_type_small {
	font-size: 122px;
	line-height: 126px;
}

.banner__desc {
	display: flex;
	gap: 66px;
}

.banner__advantage {
	display: flex;
	align-items: center;
	gap: 66px;
}

.banner__advantage-item {
	display: flex;
	-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	gap: 20px;
}

.banner__advantage-icon {
	width: 67px;
	height: 46px;
	pointer-events: none;
}

.banner__advantage-name {
	color: var(--color__white);
	font-weight: 500;
	font-size: 28px;
	line-height: 22px;
	text-shadow: -0 -1px 0 #000000, 0 -1px 0 #000000, -0 1px 0 #000000, 0 1px 0 #000000, -1px -0 0 #000000, 1px -0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.banner__button {
	max-width: 534px;
	height: 76px;
	font-weight: 500;
	font-size: 18px;
}

.banner__button_type_small {
	max-width: 396px;
}

.filter {
	display: grid;
	gap: 60px;
	margin-top: 50px;
}
.filter-type {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

@media (max-width: 767px) {
	.filter-type {
		grid-template-columns: 1fr;
	}
}

.filter-type__item {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	cursor: pointer;
	border: 1px solid #E0E0E0;
	box-shadow: 0px 10px 30px rgba(228, 30, 12, 0.2);
	/*padding: 15px;*/
}

@media(min-width: 767px) and (max-width: 1199px) {
	.filter-type {
		-ms-grid-columns: 1fr 1fr;
    	grid-template-columns: 1fr 1fr;
	}

	.filter-type .filter-type__item:last-child {
		-ms-grid-column-span: 2;
    	grid-column: span 2;
	}
}

.filter-type__item:hover {
	color: var(--color__red);
	box-shadow: 0px 10px 30px rgba(228, 30, 12, 0.2)
}
.filter-type__item.active {
	color: var(--color__red);
	box-shadow: 0px 10px 30px rgba(228, 30, 12, 0.2)
}
.filter-type__item img {
	height: 267px;
}

.type-product--image {
	position: relative;
	cursor: pointer;
}

.type-product--image img {
	width: 100%;
}

.type-product--image::before {
	content: "";
	display: block;
	width: 153px;
	height: 153px;
	background: var(--color__dark_v2);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
	transition: 0.5s cubic-bezier(0.17, 0.67, 0.27, 1.43);
}

.type-product--image:hover:before {
    width: 162px;
    height: 162px;
	background: var(--color__dark_v2);
}

.filter-type__item p {
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	line-height: 22px;
	margin-top: 37px;
	padding: 24px 15px;
}

.filter-fuel {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.filter-fuel__item {
	width: 380px;
	height: 70px;
	border: 1px solid #E0E0E0;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 30px;
	padding-left: 30px;
	box-shadow: 0px 10px 30px rgba(228, 30, 12, 0.2);
	cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
	.filter-fuel__item {
		width: 50%;
	}
}

.filter-fuel__item:hover {
	color: var(--color__red);
	box-shadow: 0px 10px 30px rgba(228, 30, 12, 0.2)
}
.filter-fuel__item.active {
	color: var(--color__red);
	box-shadow: 0px 10px 30px rgba(228, 30, 12, 0.2)
}
.filter-fuel__item svg {

}
.filter-fuel__item p {
	font-size: 18px;
	font-weight: 600;
}

@media (max-width: 767px) {
	.filter-fuel {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
	}
	
	.filter-fuel__item {
		width: 100%;
	}
}

.filter-cancel {
	font-size: 18px;
	cursor: pointer;
}
.filter-cancel:hover {
	color: var(--color__red);
}

.card-no-results {
	margin-top: 50px;
	text-align: center;
	font-size: 40px;
}
.card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 70px 20px;
	margin-top: 60px;
	border: none;
}

.card_theme_white .card__img-list {
	/*background: var(--color__gray-light);*/
}
/*.card__img-list {
	border-radius: 12px;
}*/
.card_theme_dark .card__img-list {
	position: relative;
	background: var(--color__dark);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	min-height: 345px;
}
.card_theme_dark .card__img-list .card__img {
	height: auto;
	padding: 0;
}

.card__item {
	position: relative;
	background: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	/*-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);*/
	padding: 15px;
}

.card-item--url {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.card__img-slider {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	min-height: 345px;
}

.card__img-item {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.card__img {
	/*padding: 40px;*/
	height: 276px;
	/*border-radius: 12px;*/
}

.card__img-item {
	position: relative;
}

.card__tech_icons {
	background: rgba(255, 255, 255, 0.88);
	position: absolute;
    right: 15px;
    top: 30px;
	padding: 15px;
}

.card__tech_icons .icon {
    /*font-family: Montserrat;*/
	position: relative;
	margin-bottom: 20px;
	width: 40px;
	height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #0080C3;
}

.card__tech_icons .icon:last-child {
	margin-bottom: 0;
}

.card__tech_icons .icon::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card__tech_icons .icon.height:before {
    background: url('/images/icons/card/alt_i_p.svg') no-repeat;
	background-position: center;
}

.card__tech_icons .icon.height > span {
	position: absolute;
	top: 4px;
	right: 5px;
}

.card__tech_icons .icon.weight:before {
    background: url('/images/icons/card/lifting_i_p.svg') no-repeat;
	background-position: center;
}

.card__tech_icons .icon.weight > span {
	position: absolute;
	top: 16px;
	right: 18px;
	font-size: 10px;
}

.card__tech_icons .icon.elektro::before {
    background: url('/images/icons/card/akb_i.svg') no-repeat;
	background-position: center;
}

.card__tech_icons .icon.disel::before {
    background: url('/images/icons/card/disel_i.svg') no-repeat;
	background-position: center;
}

.card__label {
	position: absolute;
	bottom: 15px;
	right: 20px;
	pointer-events: none;
}

/*.card__desc {
	margin-top: 45px;
	margin-bottom: 30px;
}*/

.card__price {
    margin-top: 15px;
	margin-bottom: 15px;
    min-height: 28px;
    box-sizing: border-box;
    /*font-family: Montserrat;*/
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

/*.card__price {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}*/

.card__name {
	/*margin-top: 20px;
	margin-bottom: 6px;*/
	padding: 7px 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.card__property {
	font-size: 18px;
	line-height: 22px;
	color: var(--color__gray);
}
.card-property__list {
	display: grid;
	gap: 15px;
	margin-top: 15px;
	/*margin-top: 25px;*/
}
.card-property {
	display: flex;
	justify-content: space-between;
}
.card-property__name {
	font-size: 14px;
}
.card-property__value {
	font-size: 14px;
}

/*.card__button {
	position: relative;
	height: auto;
	font-weight: 700;
	font-size: 22px;
	margin: 0 auto;
	padding: 15px;
	color: #fff;
	z-index: 11;
}*/
/*width: 257px*/

.card__button {
	background: none;
	position: relative;
	z-index: 11;
	display: block;
	padding: 15px 20px;
	height: auto;
	font-weight: 700;
	color: var(--color__dark);
	text-align: center;
	border: 2px solid var(--color__dark);
	border-radius: 0;
	text-decoration: none;
}
.card__button::after {
	content: "\2192";
	position: relative;
	left: 7px;
	color: #fb263b;
	transition: left 1s;
}

.card__button:hover::after {
	left: 15px;
	color: var(--color__white);
}

.card__button:hover,
.card__button:focus,
.card__button:active,
.card__button:visited {
	background: var(--color__red);
	color: var(--color__white);
	border: 2px solid var(--color__red);
}

/*.card__button:hover {
	color: #404449;
}

.card__button:focus {
	color: #fff;
}*/

.hang {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(257px, max-content));
	gap: 20px;
}

.hang__item {
	padding: 17px 20px 30px;
	background: var(--color__gray-light);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.hang__img {
	max-height: 50px;
	pointer-events: none;
}

.hang__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 17px;
	color: var(--color__black);
	padding: 12px 0 5px;
}

.hang__desc {
	font-size: 15px;
	line-height: 15px;
	color: var(--color__gray);
}

.slider {
	margin-top: 20px;
	position: relative;
}

.slider__count {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 30px;
	color: var(--color__gray);
	font-size: 18px;
	background: var(--color__gray-light);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	right: 0;
	bottom: -60px;
}

.slider__dots {
	/*display: none;*/
	margin-top: 13px;
	position: relative;
	margin-bottom: 65px;
}

.slider__item {
	display: grid !important;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	background: var(--color__gray-light);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.slider__side-first {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.slider__img {
	height: 100%;
}

.slider__side-second {
	background: var(--color__gray-light);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.slider__desc {
	display: grid;
	gap: 20px;
	padding: 40px 70px;
}

.slider__icon {
	max-height: 51px;
	pointer-events: none;
}

.slider__name {
	color: var(--color__black);
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.slider__text {
	color: var(--color__gray);
	font-size: 18px;
	line-height: 22px;
}

.footer {
	display: flex;
	align-items: center;
	background: var(--color__gray-light);
	min-height: 97px;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo-wrap {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	align-items: end;
}

.footer__logo {
	background: url(/images/logo.svg) no-repeat;
	background-size: cover;
	width: 255px;
	height: 39px;
}

.footer__address {
	font-size: 14px;
	line-height: 14px;
	color: var(--color__black);
}
.footer__address_type_desktop {
	display: block;
}
.footer__address_type_mobile {
	display: none;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.banner__title.banner__title_type_center {
		padding-top: 80px;
		line-height: 110px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.header__menu {
		gap: 10px;
	}
	.banner__desc {
		gap: 36px;
	}
	.banner__title {
		font-size: 84px;
		line-height: 126px;
	}
	.banner__title_type_center {
		text-align: center;
		padding-top: 80px;
		padding-bottom: 100px;
		font-size: 84px;
		line-height: 110px;
	}
	.banner__advantage {
		gap: 36px;
	}
	/*.banner__advantage-name {
		font-size: 14px;
	}*/
	.banner__button {
		max-width: 260px;
	}
	.card__img-slider {
		min-height: 300px;
	}
	.card_theme_dark .card__img-list {
		min-height: 300px;
	}
	.card__img {
		/*padding: 20px;*/
		height: auto;
	}
	.card__button {
		width: 100%;
	}
	.section-title_type_big {
		font-size: 80px;
		line-height: 80px;
	}
	.slider__item {
		grid-template-columns: 1fr 1fr;
	}
	.slider__img {
		padding: 0;
		object-fit: cover;
	}
	.slider__desc {
		padding: 20px;
	}
	.banner__button_type_small {
		max-width: 100%;
	}
	.slider__side-first {
		align-items: stretch;
	}
	.footer__logo-wrap {
		gap: 15px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.gap {
		margin-top: 35px;
	}
	.section-title {
		font-size: 32px;
		line-height: 30px;
	}
	.header__logo {
		width: 164px;
		height: 25px;
	}
	.header__top {
		grid-row: 2 / 3;
	}
	.header__menu {
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 15px 25px;
		padding: 10px 0;
	}
	.header__menu-link {
		font-size: 14px;
		line-height: 19px;
	}
	.header__location_type_desktop {
		display: none;
	}
	.header__location_type_mobile {
		display: flex;
	}
	.header__location-value {
		font-size: 10px;
		line-height: 10px;
	}
	.header__info {
		flex-direction: column;
		gap: 16px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.callback-link {
		font-size: 16px;
		line-height: inherit;
		text-decoration: underline;
	}
	.header__contacts {
		align-items: start;
		flex-direction: row;
		justify-content: space-between;
	}
	.phone-link {
		font-size: 21px;
		line-height: inherit;
		font-weight: 700;
	}
	.banner {
		min-height: 540px;
		background-position: inherit;
	}
	.banner--slide {
		height: 540px;
	}
	.banner__title_type_center {
		font-size: 36px;
		line-height: 48px;
	}
	.banner__desc {
		flex-direction: column;
		gap: 27px;
	}
	.banner__advantage {
		gap: 43px;
	}
	.banner__advantage-item {
		gap: 10px;
		align-items: center;
	}
	.banner__advantage-icon {
		width: 28px;
		height: 28px;
	}
	.banner__advantage-name {
		font-size: 14px;
		line-height: 14px;
	}
	.card {
		grid-template-columns: 1fr;
		margin-top: 20px;
	}
	.card__img-slider {
		min-height: 170px;
	}
	.card_theme_dark .card__img-list {
		min-height: 170px;
	}
	.card_theme_dark .card__img-list .card__img {
		padding: 20px 45px;
	}
	.card__img {
		/*padding: 10px;*/
		height: auto;
	}
	.card__button {
		width: 100%;
	}
	.hang {
		grid-template-columns: repeat(auto-fit, minmax(103px, max-content));
		gap: 10px;
	}
	.hang__item {
		padding: 7px;
	}
	.hang__img {
		max-height: 28px;
	}
	.hang__name {
		font-size: 8px;
		line-height: 10px;
		padding: 5px 0 5px;
	}
	.hang__desc {
		font-size: 8px;
		line-height: 10px;
	}
	.section-title_type_big {
		font-size: 24px;
		line-height: 100%;
	}
	.slider__item {
		grid-template-columns: 1fr 1fr;
	}
	.slider__icon {
		max-height: 30px;
	}
	.slider__img {
		padding: 0;
		object-fit: contain;
	}
	.slider__desc {
		padding: 20px;
		gap: 10px;
	}
	.slider__name {
		font-size: 10px;
		line-height: 12px;
		font-weight: 500;
	}
	.slider__text {
		font-size: 10px;
		line-height: 12px;
	}
	.banner_type_small {
		min-height: 180px;
		gap: 20px;
		background-position: center;
	}
	.banner__button_type_small {
		max-width: 100%;
		height: 45px;
		font-size: 14px;
	}
	.slider__side-first {
		align-items: stretch;
	}
	.banner__title_type_small {
		font-size: 30px;
		line-height: 31px;
	}
	
	.footer {
		min-height: 120px;
	}
	.footer__logo-wrap {
		align-items: start;
	}
	.footer__logo {
		width: 265px;
	}
	.footer__info {
		flex-direction: column;
		gap: 15px;
		align-items: start;
	}
	.footer__address_type_desktop {
		display: none;
	}
	.footer__address_type_mobile {
		display: block;
		font-size: 8px;
		line-height: 10px;
	}
	.footer__contacts {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}
	.slider__count {
		display: none;
	}
	.slider__dots {
		display: block;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}

/* Custom, iPhone 6/7/8/X */
@media (max-width: 375px) {
	.banner__advantage {
        gap: 10px;
    }
}

/* Custom, iPhone Retina 5/SE */
@media (max-width: 320px) {

}


/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.section {
		/*width: 460px;*/
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.section {
		/*width: 750px;*/
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.section {
		/*width: 970px;*/
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.section {
		max-width: 1140px;
	}
}

/* Card Page*/

.product--gallery--images {
    box-shadow: 0px 15px 25px 0px #0080C326;
}

.product--gallery--images  .slick-slide img {
    margin: 0 auto;
    width: 100%;
}

.product--gallery--images .slick-arrow {
    width: 33px;
    height: 12px;
    border: none;
}

.product--gallery--images .slick-arrow:focus {
    border: none;
}

.product--gallery--images .slick-prev {
    background: url("/images/card/slider-arrow-prev.svg") no-repeat;
    position: absolute;
    top: calc(50% - 6px);
    left: 10px;
    z-index: 9;
}

.product--gallery--images .slick-next {
    background: url("/images/card/slider-arrow-next.svg") no-repeat;
    position: absolute;
    top: calc(50% - 6px);
    right: 12px;
    z-index: 9;
}

.product--gallery--thumbs {
    margin-top: 40px;
}

.product--gallery--thumbs .slick-slide img {
    margin: 0 auto;
}

.product--gallery--thumbs .slick-slide.slick-current img {
    border-bottom: 2px solid #0080C3;
}

.product--gallery--thumbs .slick-slide {
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}
.product--gallery--thumbs .slick-current {
	opacity: 1;
}
.slick-next:before,
.slick-prev:before {
	display: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .product--gallery {
        padding-bottom: 30px;
    }
}

.product--main-title h1 {
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #282828;
}

.product--info > span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.product--info .product--info-available {
    position: relative;
    padding-left: 15px;
}

.product--info .product--info-available:before {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    left: 0;
    width: 8px;
    height: 8px;
    background: #04C300;
    display: block;
    border-radius: 50%;
}

.product--icon-tech-wrapper {
    padding: 28px 0 26px;
}

.product--icon-tech span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    color: #4F4F4F;
    display: block;
}

.product--icon-tech.height:before {
    content: url('/images/card/alt_i.svg');
    margin-right: 10px;
    height: 32px;
}

.product--icon-tech.weight:before {
    content: url('/images/card/lifting_i.svg');
    margin-right: 10px;
    height: 34px;
}

.product--tech-title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
}

.product--tech-item {
    padding: 9px 0;
}

.product--tech-property,
.product--tech-value {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}

.product--tech-property {
    font-weight: 500;
}

.product--tech-value {
    font-weight: 600;
}

.product--info-links {
    margin-top: 15px;
}

@media (max-width: 767px) {
    .product--info-links {
        margin-bottom: 15px;
    }
}

.product--info-links .product--info-link {
    margin-right: 10px;
    padding: 8px 0 8px 15px;
    width: 50%;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #4F4F4F;
    text-decoration: none;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    outline: 1px solid transparent;
    transition: 0.2s;
}

.product--info-links .product--info-link:last-child {
    margin-right: 0;
}

.product--info-links .product--info-link:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 127, 195, 0.2);
    color: #282828;
}

.product--info-links .product--info-link:focus {
    border: 1px solid #0080C3;
    outline: 1px solid #0080C3;
}

.product--info-links .product--info-link:hover svg path,
.product--info-links .product--info-link:focus svg path {
    stroke: #0080C3;
}

.product--info-link > span {
    margin-left: 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .product--info-links .product--info-link {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 575px) {
    .product--info-link {
        padding: 8px 15px;
    }

    .product--info-link > span {
        margin: 7px  auto;
        text-align: center;
    }
}

.product--form-arenda {
    background: #EAF7FF;
    position: relative;
    margin-bottom: 10px;
    padding: 14px 20px;
    width: 100%;
    min-height: 110px;
    border: 1px solid #C9DDE8;
    border-radius: 3px;
    box-sizing: border-box;
}

.product--form-arenda-price {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #282828;
}

.product--form-arenda--disclaimer-item {
    gap: 8px;
    margin-bottom: 7px;
}
.product--form-arenda--disclaimer-item > div {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #0080C3;
}

.product--form-arenda--form .form-group {
    margin-bottom: 10px;
}

.product--form-arenda--form input[type="text"] {
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
}

.product--form-arenda--form input[type="submit"],
.product--form-arenda--form button[type="submit"] {
    background: #0080C3;
    margin-top: 12px;
    padding: 10px 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
}

.product--form-arenda--form input[type="submit"]:hover,
.product--form-arenda--form button[type="submit"]:hover,
.product--form-arenda--form input[type="submit"]:focus,
.product--form-arenda--form button[type="submit"]:focus {
    background: #20B0FD;
}

.product--form-arenda--form .date-input {
	background-image: url("/images/card/calendar_i.svg");
    background-repeat: no-repeat;
	background-position: right 10px top 9px;
}

.product--form-arenda--form .error-msg {
	padding: 7px 5px;
	color: #e40115;
}

.product--tabs {
    margin-top: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.product--tabs-nav > li > button {
    margin-right: 30px;
    padding: 0 0 6px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    cursor: pointer;
}

.product--tabs-nav > li > button.active {
    color: #282828;
    border-bottom: 2px solid #0080C3;
}

.product--tabs-content .tab-pane {
    padding: 30px 0;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    color: #333333;
}

.product-characteristics--table td {
    padding: 9px 19px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #333333;
}

.product--info-add {
    padding: 30px 15px;
    border-left: 1px solid #E0E0E0;
}

@media (max-width: 991px) {
    .product--info-add {
        border-left: none;
    }
}

.product--info-add--title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #282828;
}

.product--info-add--items {
    margin-top: 25px;
    padding-left: 10px;
}

.product--info-add--item-icon {
    position: relative;
    height: 45px;
}

.product--info-add--item-icon.icon--1 {
    background: url("/images/card/request_i.svg") no-repeat;
}

.product--info-add--item-icon.icon--2 {
    background: url("/images/card/confirmation_i.svg") no-repeat;
}

.product--info-add--item-icon.icon--3 {
    background: url("/images/card/receiving_i.svg") no-repeat;
}

.product--info-add--item-icon .how-work-num {
    position: absolute;
}

.product--info-add--item-icon.icon--1 .how-work-num {
    top: -8px;
    left: -10px;
}

.product--info-add--item-icon.icon--2 .how-work-num {
    top: -3px;
    left: -12px;
}

.product--info-add--item-icon.icon--3 .how-work-num {
    top: -5px;
    left: -15px;
}

.product--info-add--item-title {
    position: relative;
    margin: 20px 0 10px 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #0080C3;
}

.product--info-add--item-description,
.product--info-add--item-description p,
.product--info-add--item-description ul > li {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.product--info-add--item-description ul {
    padding-left: 20px;
}

.product--info-add--questions {
    padding-top: 30px;
    border-top: 1px solid #E0E0E0;
}

.product--info-add--questions-title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #282828;
}

.product--questuions-nav > li > button {
    margin-bottom: 5px;
    padding: 0 15px;
    width: 179px;
    height: 42px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    line-height: 1;
    color: #828282;
    cursor: pointer;
}

.product--questuions-nav > li > button:hover {
    font-weight: 600;
    color: #0080C3;
}

.product--questuions-nav > li > button.active {
    background: url("/images/card/bubble_bg.svg") no-repeat;
    font-weight: 600;
    color: #0080C3;
}

.product--questions-tabs-content {
    padding-left: 30px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 17px;
    color: #282828;
}

.product--accordion-questuion .accordion-button,
.product--accordion-questuion .accordion-body,
.product--accordion-questuion .accordion-body p {
    font-family: Montserrat;
    font-size: 14px;
}

.section--banner-s1x {
	background: url('/images/banner/banner-s1x-image.webp') no-repeat;
	background-size: cover;
	position: relative;
	min-height: 680px;
}

.section--banner-s1x::before {
	content: '';
	/*background: #333;*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.banner-s1x--title {
	position: relative;
	z-index: 20;
	padding: 244px 100px 0;
	font-size: 64px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.banner-s1x--title {
		font-size: 59px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.banner-s1x--title {
		padding: 140px 95px 0;
		font-size: 50px;
	}
}

@media (max-width: 767px) {
	.section--banner-s1x {
		min-height: auto;
	}

	.banner-s1x--title {
		padding: 60px 50px 80px;
		font-size: 28px;
	}
}

@media (max-width: 480px) {
	.banner-s1x--title {
		padding: 60px 0 80px;
		font-size: 18px;
	}
}

.section--banner-s2x {
	background: url('/images/banner/banner-s1x-image.webp') no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 80px 0;
}

.section--banner-s2x::before {
	content: '';
	/*background: #333;*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.section--banner-s2x .section {
	margin-top: 0;
}

.banner-s2x--title {
	position: relative;
	z-index: 20;
	margin-top: 0;
	margin-bottom: 45px;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.banner-s2x--container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 20;
}

.banner-s2x--item {
	width: 50%;
	padding: 15px;
}

.banner-s2x--text {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
}

.section--catalog-item {
	padding-top: 60px;
}

@media (max-width: 767px) {
	.section--banner-s2x {
		padding: 60px 0 80px;
	}
	.banner-s2x--title {
		font-size: 28px;
	}

	.banner-s2x--container {
		flex-direction: column;
	}

	.banner-s2x--container .banner-s2x--item {
		width: 100%;
		border-bottom: 1px dashed #fff;
	}

	.banner-s2x--container .banner-s2x--item:first-child {
		border-top: 1px dashed #fff;
	}

	.banner-s2x--text {
		margin-bottom: 0;
		font-size: 18px;
	}
}

@media (max-width: 480px) {
	.banner-s2x--title {
		font-size: 24px;
	}
}

.section#aboutass {
	margin-bottom: 80px;
}

#wait_comp_df00c03d0f609d1fba4a84d06c5fda5b {
	display: none;
}